@keyframes infoPulse
  0%
    transform: scale(1)
  50%
    transform: scale(1.1)
  100%
    transform: scale(1)

@keyframes infoPulseImage
  0%
    transform: scale(1)
  50%
    transform: scale(0.9)
  100%
    transform: scale(1)


@keyframes ctaPulse
  0%
    transform: translate(-50%, -50%) scale(1)
  50%
    transform: translate(-50%, -50%) scale(1.1)
  100%
    transform: translate(-50%, -50%) scale(1)

@keyframes slickNav
  0%
    transform: translateY(-50%) scale(0)
  70%
    transform: translateY(-50%) scale(1.15)
  100%
    transform: translateY(-50%) scale(1)

@keyframes ctaBlot
  0%
    transform: scale(0)
  70%
    transform: scale(1.3)
  100%
    transform: scale(1)

@keyframes ctaBlotBottom
  0%
    transform: translateY(250px) scale(0)
  70%
    transform: translateY(250px) scale(1.3)
  100%
    transform: translateY(250px) scale(1)


@keyframes nextSection
  0%
    transform: translate3d(0,40px,0)
    opacity: 0
  70%
    transform: translate3d(0,-15px,0)
  100%
    opacity: 1
    transform: translate3d(0,0px,0)

@keyframes nextSectionIco
  0%
    transform: translate3d(0,40px,0)
    opacity: 0
  70%
    transform: translate3d(0,-5px,0)
  100%
    opacity: 1
    transform: translate3d(0,0px,0)

@keyframes preloaderBlot
  0%
    transform: translate(-50%,-50%) scale(1)
  50%
    transform: translate(-50%,-50%) scale(1.6)
    opacity: 1
  100%
    opacity: 0
    transform: translate(-50%,-50%) scale(.5)

@keyframes preloaderImage
  from
    -webkit-clip-path: circle(0px at center)
    clip-path: circle(0px at center)
  to
    -webkit-clip-path: circle(100% at center)
    clip-path: circle(100% at center)

@keyframes preloaderCircle
  from
    transform: translate3d(-50%,-50%,0) scale(.5)
  to
    transform: translate3d(-50%,-50%,0) scale(30)
