// Styles for dialog window
.modal
  -webkit-overflow-scrolling: touch
  -webkit-transform: translateZ(0)
  position: absolute 0
  z-index: 7
  pointer-events: none
  &__wrapper
    position: relative
  &__content
    margin-top: -100px
    min-height: 100vh
    display: flex
    flex-direction: column
    > .container
      flex: 1 1 auto
      display: flex
      flex-direction: column
  &__form
    margin: auto 0% auto 15%
    max-width: 480px
    pointer-events: all
    .ui-group
      opacity: 0
      transform: translate3d(-25px,0,0)
    &__btn-wrap
      display: flex
      align-items: center
      .btn
        flex: 0 0 auto
        opacity: 0
        transform: translate3d(-25px,0,0)
    &__privacy
      font-size: 12px
      padding-left: 35px
      font-weight: 400
      opacity: 0
      a
        display: inline-block
        border-bottom: 1px solid $fontColor
        transition: border $transitionSpeed $ease
        &:hover
          border-color: transparent
  &.opened
    .modal__form
      .ui-group
        opacity: 1
        transform: translate3d(0,0,0)
        transition-timing-function: linear
        transition-property: transform, opacity
        transition-duration: .4s
        &:nth-child(1)
          transition-delay: .8s
        &:nth-child(2)
          transition-delay: 1s
      &__btn-wrap
        .btn
          opacity: 1
          transform: translate3d(0,0,0)
          transition: transform .3s .5s ease, opacity .25s .6s ease
      &__privacy
        opacity: .8
        transition: opacity .3s 1.2s ease

+r($tablet)
  .modal
    top: auto
    &__form
      margin-left: 5%
      margin-right: 5%
      &__btn-wrap
        flex-direction: column
      &__privacy
        margin-top: 15px
        text-align: center
        max-width: 300px

+r($mobile)
  .modal
    &__form
      margin-left: 0
      margin-right: 0
