---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout
block content
  .page
    .page__content
      .section
        .container
          .hero
            .hero__wrapper
              .hero__clip Modi
              .hero__text представляем новый магазин <br> доступных товаров
              .hero__more.js-nextScrollifySection
                span посмотреть ассортимент
                i.ico.ico-arrow
      .section(style='background-color: red;')
      .section
        .js-slick
          .slide
          .slide
      // iteration example
      //- - var socials = ['facebook','gplus','twitter','fav','link','bitly','telegram','ok','vk',]
      //-   each social in socials
      //-     a(class="social-share" href="#" role="button")
      //-       +icon('icon-social-'+social)
