// INDEX

.section
  display: flex
  flex-direction: column
  // min-height: 100vh
  background: white
  overflow: hidden
  > .container
    padding-top: 100px
    flex: 1 1 auto
    display: flex
    flex-direction: column

.hero
  flex: 1 1 auto
  display: flex
  flex-direction: column
  &__wrapper
    flex: 1 1 auto
    display: flex
    flex-direction: column
    text-align: center
  &__image
    position: relative
    margin-top: auto
    &::after
      display: block
      content: ''
      position: absolute
      left: 0
      top: 0
      bottom: 0
      right: 0
      opacity: 1
      background: white
      transition: transform 1s 1s ease-in, opacity .7s 1.5s ease-out
    img
      max-width: 100%
  &__clip
    font-size: 500px
    line-height: 1
    font-weight: 900
    text-transform: lowercase
    pointer-events: none
    background: url('../img/heroImg.png') no-repeat
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  &__text
    margin-top: 25px
    margin-bottom: auto
    font-size: 39px
    font-weight: 600
    line-height: 1
    text-transform: lowercase
    opacity: 0
    transition: opacity .3s .5s linear
  .next-section
    span, .ico
      opacity: 0
      transform: translate3d(0,40px,0)
      animation-duration: .5s
      animation-timing-function: $easeOutBack
      animation-fill-mode: forwards
    span
      animation-name: nextSection
      animation-delay: 1.8s
    .ico
      animation-name: nextSectionIco
      animation-delay: 2s

+r($tablet)
  .hero
    &__text
      font-size: 34px

+r($mobile)
  .hero
    &__text
      font-size: 28px

.next-section
  position: relative
  z-index: 5
  margin-top: 25px
  margin-bottom: 25px
  font-size: 17px
  color: $colorPrimary
  font-weight: 600
  text-transform: lowercase
  cursor: pointer
  span
    display: block
    margin-bottom: 15px
  .ico
    transition: all $transitionSpeed $ease
  &:hover
    .ico
      transform: translate3d(0,0px,0) scale(1.2)


.info
  flex: 1 1 auto
  display: flex
  flex-direction: column
  position: relative
  text-align: center
  &__description
    position: relative
    z-index: 3
    margin: auto
    max-width: 650px
    font-size: 40px
    font-weight: 600
    line-height: 1.5
    opacity: 0
    transform: translate3d(0,20px,0)
    transition: transform .4s .8s ease-in, opacity .3s .9s linear
  &__blot
    position: absolute
    z-index: 2
    text-align: center
    transform: scale(0)
    opacity: 1
    transition: transform .3s $easeOutBack
    &--purple
      top: -130px
      left: 35%
      color: #702c7c
      transition-delay: 1.5s
      .info__blot__image
        size: 175px
        background: #702c7c
        animation-delay: .3s
        img
          animation-delay: .3s
    &--tint
      top: 20%
      right: 0
      color: #00a99d
      transition-delay: 2.2s
      .info__blot__image
        size: 150px
        background: #00a99d
        animation-delay: .8s
        img
          animation-delay: .8s
    &--blue
      right: 10%
      bottom: 40px
      color: #3369ab
      transition-delay: 2.5s
      .info__blot__image
        size: 150px
        background: #3369ab
        animation-delay: .5s
        img
          animation-delay: .5s
    &--red
      bottom: 40px
      left: 25%
      color: #f05b83
      transition-delay: 1.9s
      .info__blot__image
        size: 70px
        background: #f05b83
    &--green
      left: 0
      top: 45%
      color: #4eb857
      transition-delay: 1.8s
      .info__blot__image
        size: 120px
        background: #4eb857
        animation-delay: .6s
        img
          animation-delay: .6s
    &__image
      margin-left: auto
      margin-right: auto
      border-radius: 50%
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      animation-name: infoPulse
      animation-duration: 2000ms
      animation-timing-function: ease
      animation-iteration-count: infinite
      img
        max-width: 100%
        animation-name: infoPulseImage
        animation-duration: 2000ms
        animation-timing-function: ease
        animation-iteration-count: infinite
    &__name
      margin-top: 15px
      font-size: 15px
      font-weight: 600
  .next-section
    span, .ico
      opacity: 0
      transform: translate3d(0,40px,0)
      animation-duration: .5s
      animation-timing-function: $easeOutBack
      animation-fill-mode: both
    span
      animation-name: nextSection
      animation-delay: 3s
    .ico
      animation-name: nextSectionIco
      animation-delay: 3.2s

+r(900)
  .info
    &__description
      font-size: 35px
      line-height: 1.4
      max-width: 600px

    &__blot
      &--purple
        top: -110px
        left: 35%
        .info__blot__image
          size: 140px
      &--tint
        top: 0%
        right: 0
        .info__blot__image
          size: 120px
      &--blue
        right: 10%
        bottom: 40px
        .info__blot__image
          size: 120px
      &--red
        bottom: 40px
        left: 25%
        .info__blot__image
          size: 55px
      &--green
        left: 0
        top: 60%
        .info__blot__image
          size: 100px
      &__image
        img
          max-width: 70%
      &__name
        font-size: 14px
        margin-top: 10px



+r($mobile)
  .info
    &__description
      font-size: 28px
    &__blot
      &__name
        font-size: 0
      &--purple
        top: -110px
        left: 35%
        .info__blot__image
          size: 100px
      &--tint
        top: -20px
        right: 0
        .info__blot__image
          size: 90px
      &--blue
        right: 5%
        bottom: 50px
        .info__blot__image
          size: 90px
      &--red
        bottom: 15px
        left: 15%
        .info__blot__image
          size: 55px
      &--green
        left: 0
        top: 60%
        .info__blot__image
          size: 80px
      &__image
        img
          max-width: 60%

+r($mobile-s)
  .info
    &__description
      font-size: 28px
    &__blot
      &__name
        font-size: 0
      &--purple
        top: -110px
        left: 40%
        .info__blot__image
          size: 100px
      &--tint
        top: 10px
        right: 0
        .info__blot__image
          size: 90px
      &--blue
        right: 0
        bottom: 80px
        .info__blot__image
          size: 80px
      &--red
        bottom: 15px
        left: 10%
        .info__blot__image
          size: 55px
      &--green
        left: -5px
        top: auto
        bottom: 20%
        .info__blot__image
          size: 80px

.slider
  flex: 1 1 auto
  display: flex
  flex-direction: column
  position: relative
  .js-slick, .slick-list
    flex: 1 1 auto
    display: flex
    flex-direction: column
  *:focus
    outline: none
  .slick-track
    flex: 1 1 auto
  &__slide
    height: 100vh
    position: relative
    overflow: hidden
    z-index: 1
    img
      position: absolute
      z-index: 2
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      min-width: 100%
      min-height: 100%
      width: auto
      height: auto
  &__next
    position: absolute
    z-index: 5
    bottom: -15px
    left: 50%
    transform: translateX(-50%)
    background: white
    border-radius: 50%
    size: 100px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    transition: transform $transitionSpeed $ease
    &:hover
      transform: translateX(-50%) scale(1.2)

.is-mobile
  .slider
    &__slide
      height: calc(100vh - 55px)

+r($mobile)
  .slider
    &__next
      size: 80px

.slick-next, .slick-prev
  position: absolute
  top: 50%
  z-index: 5
  -webkit-apperance: none
  background: transparent
  font-size: 0
  border: 0
  box-shadow: none
  cursor: pointer
  margin-top: -50px
  transform: translateY(-50%) scale(0)
  &::before
    display: inline-block
    content: ' '
    size: 60px
    background: white svg-load('../img/svg/arrow.svg') no-repeat center
    border-radius: 50%
    background-size: 32px 12px
    cursor: pointer
    transition: transform $transitionSpeed $ease

.slick-next
  right: 10px
  &::before
    transform: rotate(-90deg)
  &:hover::before
    transform: scale(1.3) rotate(-90deg)

.slick-prev
  left: 10px
  &::before
    transform: rotate(90deg)
  &:hover::before
    transform: scale(1.3) rotate(90deg)

// CTA
[data-section-name='cta']
  min-height: 100vh

.cta
  flex: 1 1 auto
  display: flex
  flex-direction: column
  position: relative
  .next-section
    position: absolute
    left: 50%
    transform: translateX(-50%)
    top: -100px
    .ico
      transform: rotate(180deg)
    &:hover
      .ico
        transform: rotate(180deg) scale(1.2)
  &__wrapper
    margin-top: auto
    margin-bottom: auto
    flex: 0 1 auto
    display: flex
    position: relative
  &__text
    position: relative
    z-index: 5
    flex: 0 1 50%
    font-size: 30px
    padding-right: 20px
    line-height: 1.3
    font-weight: 400
    opacity: 0
    transition: opacity 1s 1.6s ease
    p
      max-width: 430px
    span
      font-weight: 700
      color: #00a99d
  &__right
    position: relative
    z-index: 5
    flex: 0 0 50%
    display: flex
    align-items: flex-end
    padding-left: 20px
  &__figures
    flex: 0 0 auto
    display: flex
    flex-direction: column
  &__figure
    margin-bottom: 35px
    &--purple
      .cta__figure__number
        color: #702c7c
    &--tint
      .cta__figure__number
        color: #00a99d
    &--red
      .cta__figure__number
        color: #f05b83
    &__number
      font-size: 86px
      line-height: 1
      font-weight: 900
      opacity: 0
      transform: translate3d(40px,0,0)
      transition: transform .5s 1s ease-out, opacity .3s 1.15s ease-out
    &__description
      margin-top: 10px
      font-size: 15px
      font-weight: 600
      opacity: 0
      transition: opacity .3s 1.2s ease-in
  &__call-modal
    position: relative
    flex: 0 0 235px
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    margin-left: auto
    size: 235px
    color: white
    font-size: 30px
    font-weight: 900
    cursor: pointer
    transform: scale(0)
    transition: transform .4s 1s ease, opacity .3s 1s ease
    span
      display: inline-block
      position: relative
      z-index: 2
      transition: transform $transitionSpeed $ease, opacity .15s .1s ease
    .ico-close
      position: absolute
      top: 50%
      left: 50%
      z-index: 10
      transform: translate(-50%,-50%) scale(0)
      opacity: 0
      transition: transform $transitionSpeed $ease, opacity .15s .1s ease
      cursor: pointer
      pointer-events: none
    &::before, &::after
      display: inline-block
      content: ' '
      position: absolute
      size: 235px
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background: #95ca6e
      border-radius: 50%
    &::before
      opacity: 0
      pointer-events: none
      transition: transform .5s .1s ease-in
      z-index: 1
    &::after
      z-index: 1
      background: #95ca6e
      border-radius: 50%
      animation-name: ctaPulse
      animation-duration: 2000ms
      animation-timing-function: ease
      animation-iteration-count: infinite
    &:hover
      &::after
        animation-play-state: paused
    &.active
      // pointer-events: none
      span
        opacity: 0
        transform: scale(0)
      .ico-close
        transform: translate(-50%,-50%) scale(1)
        opacity: 1
        pointer-events: all
        &:hover
          transform: translate(-50%,-50%) scale(1.1) rotate(-45deg)
      &::before
        opacity: 1
        transform: translate(-50%, -50%) scale(15)
  &__blot
    position: absolute
    background: #f2f2f2
    border-radius: 50%
    transform: scale(0)
    &--top
      size: 135px
      top: -20px
      left: 50%
      margin-left: -67px
    &--middle
      size: 32px
      left: 63%
      top: 37%
    &--bottom
      size: 320px
      left: 25%
      bottom: 0
      transform: scale(0) translateY(250px)

+r($desktop)
  .cta
    &__text
      flex: 0 1 380px
      font-size: 25px
    &__right
      flex: 0 0 auto
      margin-left: auto
    &__figure
      &__number
        font-size: 75px
    &__call-modal
      flex: 0 0 210px
      size: 210px
      font-size: 28px
      &::before, &::after
        size: 210px


+r(870)
  .cta
    &__text
      flex: 0 1 350px
      font-size: 22px
    &__figure
      margin-bottom: 25px
      &__number
        font-size: 68px
    &__call-modal
      flex: 0 0 190px
      size: 190px
      font-size: 26px
      &::before, &::after
        size: 190px

+r($tablet)
  .cta
    &__wrapper
      flex-direction: column
      max-width: 450px
      margin-left: auto
      margin-right: auto
    &__text
      flex: 0 0 auto
      padding-right: 0
    &__right
      margin-top: 20px
      flex: 0 0 auto
      padding-left: 0
      margin-left: 0
      align-items: center

+r($mobile-s)
  .cta
    &__text
      font-size: 20px
    &__right
      flex-direction: column
      align-items: flex-start
    &__call-modal
      margin-left: auto
      margin-right: auto

// section active classes
// animations control
.section.active
  .hero
    &__image
      &::after
        transform: translateX(100%)
        opacity: 0
    &__text
      opacity: 1
    .next-section
      span, .ico
        transform: translate3d(0,0px,0)
      &:hover
        .ico
          transform: scale(1.2)
  .info
    &__description
      transform: translate3d(0,0,0)
      opacity: 1
    &__blot
      transform: scale(1)
    .next-section
      span, .ico
        opacity: 1
        transform: translate3d(0,0px,0)
      &:hover
        .ico
          transform: scale(1.2)
  .slick-next, .slick-prev
    animation-name: ctaBlot
    animation-duration: .6s
    animation-timing-function: ease
    animation-fill-mode: forwards
  .slick-prev
    animation-delay: .6s
  .slick-next
    animation-delay: .3s
  .cta__blot
    animation-name: ctaBlot
    animation-duration: .8s
    animation-timing-function: ease
    animation-fill-mode: forwards
    &--middle
      animation-delay: .5s
    &--bottom
      animation-name: ctaBlotBottom
      animation-delay: 1.3s
  .cta__text
    opacity: 1
  .cta__figure
    &__number
      opacity: 1
      transform: translate3d(0,0,0)
    &__description
      opacity: 1
  .cta__call-modal
    animation-name: ctaBlot
    animation-duration: .8s
    animation-delay: 2s
    animation-timing-function: ease
    animation-fill-mode: forwards


.preloader
  display: flex
  position: fixed 0
  z-index: 9
  pointer-events: none
  &__wrapper
    position: relative
    height: 100vh
    width: 100%
  &__blot
    display: block
    content: ' '
    position: absolute
    top: calc(50% - 40px)
    left: 50%
    size: 30px
    background: #f2f2f2
    border-radius: 50%
    z-index: 5
    transform: translate(-50%,-50%) scale(1)
    animation: preloaderBlot .5s ease
    animation-fill-mode: forwards
  &__image
    position: absolute
    top: 50%
    left: 50%
    width: 100%
    opacity: 0
    transform: translate3d(-50%,-50%,0)
    z-index: 6
    -webkit-clip-path: circle(0px at center)
    clip-path: circle(0px at center)
    img
      min-width: 100%
      min-height: 100%
      width: auto
      height: auto
    // clip-path: url("#clip-shape2")
  &__circle
    position: absolute
    top: 50%
    left: 50%
    transform: translate3d(-50%,-50%,0) scale(1)
    z-index: 7
    opacity: 0
    border-radius: 50%
    size: 60px
    background: white
    transition: transform .3s linear
  &.stage2
    .preloader
      &__image
        opacity: 1
        animation: preloaderImage .6s linear
      &__circle
        transform: translate3d(-50%,-50%,0) scale(.5)
        opacity: 1
        animation: preloaderCircle .5s .3s linear
